# Default ignored files
/../../../../programação/JavaScript/nextjs-dashboard/.idea/shelf/
/../../../../programação/JavaScript/nextjs-dashboard/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../programação/JavaScript/nextjs-dashboard/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../programação/JavaScript/nextjs-dashboard/.idea/dataSources/
/../../../../programação/JavaScript/nextjs-dashboard/.idea/dataSources.local.xml
